{% extends "base.html" %}

{% block title_head %}Perfil de Usuario{% endblock title_head %}

{% block content %}

<ul>
    <li>Nombre de Usuario: {{ request.user.username }}</li>
    <li>Nombres: {{ request.user.first_name }}</li>
    <li>Apellidos: {{ request.user.last_name }}</li>
    <li>Correo Electrónico: {{ request.user.email }}</li>
    <li>Biografia: {{ request.user.datos_usuario.biografia }}</li>
</ul>

<a href="{% url "usuarios:editar_perfil" %}">Editar Perfil</a>
<span style="color: red;">|</span>
<a href="{% url "usuarios:editar_contrasenia" %}">Cambiar Contraseña</a>

{% endblock content %}